@import "tailwindcss";

@theme {
  --color-surface: #0e0e0e;
  --color-surface-container-high: #20201f;
  --color-surface-container-highest: #262626;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1a1a;
  
  --color-primary: #81ecff;
  --color-primary-dim: #00d4ec;
  --color-primary-fixed: #00e3fd;
  --color-primary-container: #00e3fd;
  --color-on-primary: #005762;
  --color-on-primary-fixed: #003840;
  --color-on-primary-container: #004d57;
  
  --color-secondary: #fd8b00;
  --color-secondary-dim: #ed8200;
  --color-secondary-fixed: #ffc69a;
  --color-secondary-container: #904d00;
  --color-on-secondary: #442100;
  --color-on-secondary-fixed: #532a00;
  --color-on-secondary-container: #fff6f1;
  
  --color-tertiary: #ff51fa;
  --color-tertiary-dim: #ff51fa;
  --color-tertiary-fixed: #ff81f5;
  --color-tertiary-container: #fe00fe;
  --color-on-tertiary: #400040;
  --color-on-tertiary-fixed: #320032;
  --color-on-tertiary-container: #230023;
  
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;
  --color-outline: #767575;
  --color-outline-variant: #484847;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

:root {
  --background: #0e0e0e;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.bg-grid-pattern {
  background-image: radial-gradient(circle, #484847 1px, transparent 1px);
  background-size: 30px 30px;
}
.kinetic-glow-primary {
  box-shadow: 0 0 20px 0px rgba(0, 229, 255, 0.3);
}
.kinetic-glow-tertiary {
  box-shadow: 0 0 20px 0px rgba(255, 81, 250, 0.3);
}
